[submodule "popularioty-runtime-analytics"]
	path = popularioty-runtime-analytics
	url = https://github.com/nopbyte/popularioty-runtime-analytics
[submodule "popularioty-commons"]
	path = popularioty-commons
	url = https://github.com/nopbyte/popularioty-commons
[submodule "popularioty-feedback-analytics"]
	path = popularioty-feedback-analytics
	url = git://github.com/nopbyte/popularioty-feedback-analytics/
[submodule "popularioty-analytics-aggregator"]
	path = popularioty-analytics-aggregator
	url = https://github.com/nopbyte/popularioty-analytics-aggregator
[submodule "popularioty-analytics-pig-sqoop"]
	path = popularioty-analytics-pig-sqoop
	url = https://github.com/nopbyte/popularioty-analytics-pig-sqoop
